.msh {
    height: 350px;
    background: url(./../images/c2-motorsports-banner.jpg) no-repeat;
    background-size: cover;
    padding-left: 100px;
}

.moh1 {
    font-size: 70px;
    font-weight: bold;
}

.moh2 {
    font-size: 20px;
    margin-top: -70px;
}

.ms1b {
    height: 530px;
    padding: 100px;
}

.ms1b img{
    width: 500px;
    height: 400px;
}

.ms1b div {
    display: inline-block;
}

.ms1t {
    text-align: center;
    font-size: 40px;
    text-decoration-color: blue;
    text-decoration-line: underline;
}

.ms1d {
    width: 500px;
    margin-left: 100px;
    font-size: 20px;
    color: grey;
}

.msb2 {
    height: 500px;
    padding-left: 100px;
}

.msb2 * {
    display: inline-block;
}

.msb2p {
    width: 500px;
    font-size: 20px;
    line-height: 30px;
    color: grey;
}

.msb2 img {
    width: 500px;
    height: 400px;
}

.msb2div {
    margin-left: 100px;
}